<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT umbContact ANY>
<!ATTLIST umbContact id ID #REQUIRED>
<!ELEMENT umbFeature ANY>
<!ATTLIST umbFeature id ID #REQUIRED>
<!ELEMENT umbHomePage ANY>
<!ATTLIST umbHomePage id ID #REQUIRED>
<!ELEMENT umbTextPage ANY>
<!ATTLIST umbTextPage id ID #REQUIRED>

]>
<root id="-1">
  <umbHomePage id="1055" key="9c437a60-3ab8-43e8-acdd-15425662417e" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-08-08T18:19:40" updateDate="2016-08-08T18:19:43" nodeName="Overflow" urlName="overflow" path="-1,1055" isDoc="" nodeType="1053" creatorName="Victor Sanchez" writerName="Victor Sanchez" writerID="0" template="1050" nodeTypeAlias="umbHomePage">
    <facebookLink><![CDATA[http://facebook.com/Umbraco]]></facebookLink>
    <googleLink><![CDATA[https://google.com/+Umbraco]]></googleLink>
    <twitterLink><![CDATA[http://twitter.com/UmbracoProject]]></twitterLink>
    <bannerHeader><![CDATA[This is some text that needs to pop]]></bannerHeader>
    <hideBanner>0</hideBanner>
    <bannerLinkText><![CDATA[You know you want to click me]]></bannerLinkText>
    <bannerText><![CDATA[<p>It will lead to a call-to-action.</p>
<p>Just click the button...</p>]]></bannerText>
    <continueButtonText><![CDATA[Proceed as anticipated]]></continueButtonText>
    <byline><![CDATA[A responsive starter kit for Umbraco]]></byline>
    <siteName><![CDATA[Umbraco Overflow]]></siteName>
    <copyright><![CDATA[Umbraco]]></copyright>
    <umbFeature id="1056" key="e1f5253a-fb60-40e5-ae0a-dbc4badf5969" parentID="1055" level="2" creatorID="0" sortOrder="0" createDate="2016-08-08T18:19:40" updateDate="2016-08-08T18:19:43" nodeName="Feature" urlName="feature" path="-1,1055,1056" isDoc="" nodeType="1052" creatorName="Victor Sanchez" writerName="Victor Sanchez" writerID="0" template="0" nodeTypeAlias="umbFeature">
      <featureText><![CDATA[This feature block allows you to showcase one of the most 
important things that you want to bring to your visitors' attention.]]></featureText>
      <image><![CDATA[/media/umbFeatures/pic02.jpg]]></image>
      <featureHeader><![CDATA[This is our 
first feature]]></featureHeader>
    </umbFeature>
    <umbFeature id="1057" key="aaddcfc6-a6ee-48c7-b2d4-ef3ad723c9d4" parentID="1055" level="2" creatorID="0" sortOrder="1" createDate="2016-08-08T18:19:40" updateDate="2016-08-08T18:19:43" nodeName="Another Feature" urlName="another-feature" path="-1,1055,1057" isDoc="" nodeType="1052" creatorName="Victor Sanchez" writerName="Victor Sanchez" writerID="0" template="0" nodeTypeAlias="umbFeature">
      <featureText><![CDATA[This feature block allows you to showcase the second most important thing that you want to bring to your visitors' attention.]]></featureText>
      <image><![CDATA[/media/umbFeatures/pic01.jpg]]></image>
      <featureHeader><![CDATA[This is our 
second feature]]></featureHeader>
    </umbFeature>
    <umbTextPage id="1058" key="d880a109-19c3-4f05-ada1-321ca0941132" parentID="1055" level="2" creatorID="0" sortOrder="2" createDate="2016-08-08T18:19:40" updateDate="2016-08-08T18:19:43" nodeName="Text" urlName="text" path="-1,1055,1058" isDoc="" nodeType="1054" creatorName="Victor Sanchez" writerName="Victor Sanchez" writerID="0" template="0" nodeTypeAlias="umbTextPage">
      <subTitle><![CDATA[Nothing to see here.]]></subTitle>
      <bodyText><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Falli igitur possumus. Erat enim Polemonis. Quae similitudo in genere etiam humano apparet. Duo Reges: constructio interrete. Traditur, inquit, ab Epicuro ratio neglegendi doloris. Sed nimis multa. Sint ista Graecorum; At enim, qua in vita est aliquid mali, ea beata esse non potest. Etsi ea quidem, quae adhuc dixisti, quamvis ad aetatem recte isto modo dicerentur. Hos contra singulos dici est melius.</p>
<p><strong>Dici enim nihil potest verius.</strong></p>
<p>Occultum facinus esse potuerit, gaudebit; Stulti autem malorum memoria torquentur, sapientes bona praeterita grata recordatione renovata delectant. Ergo adhuc, quantum equidem intellego, causa non videtur fuisse mutandi nominis. Quamvis enim depravatae non sint, pravae tamen esse possunt. Sed tamen intellego quid velit. Quarum ambarum rerum cum medicinam pollicetur, luxuriae licentiam pollicetur. Primum divisit ineleganter; Cum audissem Antiochum, Brute, ut solebam, cum M.</p>
<p><strong>His singulis copiose responderi solet, sed quae perspicua sunt longa esse non debent.</strong></p>
<p>Inscite autem medicinae et gubernationis ultimum cum ultimo sapientiae comparatur. Teneo, inquit, finem illi videri nihil dolere. Illi enim inter se dissentiunt. In his igitur partibus duabus nihil erat, quod Zeno commutare gestiret. Quod cum accidisset ut alter alterum necopinato videremus, surrexit statim. Itaque contra est, ac dicitis; Summum a vobis bonum voluptas dicitur.</p>
<p>Si alia sentit, inquam, alia loquitur, numquam intellegam quid sentiat; Mihi, inquam, qui te id ipsum rogavi? Respondent extrema primis, media utrisque, omnia omnibus. Diodorus, eius auditor, adiungit ad honestatem vacuitatem doloris. Polycratem Samium felicem appellabant. Sed hoc sane concedamus.</p>
<p>Ratio quidem vestra sic cogit. Moriatur, inquit. Tum Piso: Quoniam igitur aliquid omnes, quid Lucius noster? Egone non intellego, quid sit don Graece, Latine voluptas? Superiores tres erant, quae esse possent, quarum est una sola defensa, eaque vehementer. Aliena dixit in physicis nec ea ipsa, quae tibi probarentur; Sit enim idem caecus, debilis.</p>
<ul>
<li>Disserendi artem nullam habuit.</li>
<li>Quam tu ponis in verbis, ego positam in re putabam.</li>
<li>Eam si varietatem diceres, intellegerem, ut etiam non dicente te intellego;</li>
<li>Octavio fuit, cum illam severitatem in eo filio adhibuit, quem in adoptionem D.</li>
<li>Atque his de rebus et splendida est eorum et illustris oratio.</li>
</ul>]]></bodyText>
      <title><![CDATA[Totally freeform]]></title>
    </umbTextPage>
    <umbContact id="1059" key="f6507575-6207-4539-81fc-d62149bf1eb2" parentID="1055" level="2" creatorID="0" sortOrder="3" createDate="2016-08-08T18:19:41" updateDate="2016-08-08T18:19:43" nodeName="Contact" urlName="contact" path="-1,1055,1059" isDoc="" nodeType="1051" creatorName="Victor Sanchez" writerName="Victor Sanchez" writerID="0" template="0" nodeTypeAlias="umbContact">
      <umbEmailTo><![CDATA[info@example.com]]></umbEmailTo>
      <subTitle><![CDATA[We're happy to talk to you about your wishes for your next project.]]></subTitle>
      <title><![CDATA[Get in touch]]></title>
    </umbContact>
  </umbHomePage>
</root>