<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>

]>
<root id="-1">
  <home id="1064" key="f0bc1a49-43ee-4c1b-a686-e60a708e8cf8" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2016-08-09T09:37:36" updateDate="2016-08-09T09:37:36" nodeName="English" urlName="english" path="-1,1064" isDoc="" nodeType="1062" creatorName="Victor Sanchez" writerName="Victor Sanchez" writerID="0" template="1061" nodeTypeAlias="home" />
</root>