@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    ViewBag.Title = "Home";
    Layout = "~/_MasterPage.cshtml";
}

@*<h1>This is a test</h1>*@